* {
  /* border-style: solid;
  border-color: black; */
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.app_nav {
  height: 3rem;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  position: fixed;
  z-index: 2;
}

.app_title {
  border-color: rgb(240, 200, 113);
  border-style: solid;
  display: flex;
  justify-content: center;
  width: 20%;
  background-color: white;
}

.menu_container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 100%; 
  background-color: rgb(240, 200, 113);
}

.nav_item {
  width: 25%; 
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav_item a {
  text-decoration: none;  
  color: black; 
}
.nav_item a:hover {
  color: gray; 
}



.all_projects {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-top: 5rem;
}

.data_div {
  border-style: solid;
  border-color: gray;
  border-width: 0.1rem;
  width: 100%;
}

.all_clients, .all_personnel, .all_tasks{
  height: 100%;
  width: 100%;
  margin: 5rem; 
  padding-left: 3rem; 
  padding-top: 1rem; 
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

}

.item_row {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.row_item {
  width: 30%; 
}

.row_item:hover {
  cursor: pointer;
  font-weight: 200;
}

.dashboard {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-top: 2.5%; 
  width: 100vw;
  height: 95vh;
}

.widget_pair {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 45%;
  width: 100%;
}

.widget {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 45%;
  height: 100%;
  border-style: solid;
  border-color: gray;
  border-radius: 2rem;
  border-width: 0.1rem;
  overflow: hidden;
}

.table_title {
  height: 10%;
  width: 100%; 
  text-align: center;
}

.table_content {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 90%;
  width: 100%;
}

.table_graph {
  height: 85%;
  width: 100%;
}

.dashboard_dropdown {
  height: 100%;
  width: 30%; 
}

.dropbtn {
  height: 2rem;
  width: 5rem;
}

.dropdown_content {
  display: none; 
  flex-direction: column;
  border-style: solid;
  border-color: gray;
  border-width: 0.1rem;
  background-color: rgb(235, 233, 231);
}

.dropdown_content p:hover {
  cursor: pointer;
  color: rgb(71, 69, 69);
}